<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= simple_form_for([@discussion, @discussion.replies.build], remote: true) do |f| %>
<h5><div class="field"><i class="small material-icons">chat</i>
<%= f.text_field :reply %></h5>
</div>

<%= f.button :submit, 'Comment', class:'button is-info' %>

<% end %>
